@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.item-effect {
  @apply transition-all ease-in-out duration-300 cursor-pointer hover:text-sky-500;
}

.is-active {
  @apply text-sky-500 font-bold cursor-default;
}

.card-item {
  @apply grid grid-rows-[180px_210px_auto] p-2 rounded-md shadow-zinc-400 shadow-lg;
}

.card-button {
  @apply flex justify-center items-center gap-2 p-2 bg-sky-500 rounded-md text-white hover:bg-sky-600;
}

